<nav class="navbar bg-body-tertiary" id="navbar">
  <div class="container-fluid">
    <%= link_to "Bar do Colombiano", dashboard_path, class: "navbar-brand" %>
    
    <ul class="list-inline pt-4">
      <li class="list-inline-item">
        <%= link_to "Comandas", comandas_path, class: "nav-link #{request.path.eql?(comandas_path) ? "text-dark" : "text-secondary"}" %>
      </li>
      <li class="list-inline-item">
        <%= link_to "Vendas", vendas_path, class: "nav-link #{request.path.eql?(vendas_path) ? "text-dark" : "text-secondary"}" %>
      </li>
      <li class="list-inline-item">
        <%= link_to "Pedidos", pedidos_path, class: "nav-link #{request.path.eql?(pedidos_path) ? "text-dark" : "text-secondary"}" %>
      </li>
      <li class="list-inline-item">
        <%= link_to "Produtos", produtos_path, class: "nav-link #{request.path.eql?(produtos_path) ? "text-dark" : "text-secondary"}" %>
      </li>
      <li class="list-inline-item">
        <%= link_to "Estoque", movimentacao_estoques_path, class: "nav-link #{request.path.eql?(movimentacao_estoques_path) ? "text-dark" : "text-secondary"}" %>
      </li>
    </ul>
  </div>
</nav>