<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-2 pt-2">
      <%= form.label :pedido_id, 'Pedido ID', class: 'form-label' %>
      <%= form.text_field :pedido_id, class: 'form-control' %>
    </div>

    <div class="col-2 pt-2">
      <%= form.label :produto_id, 'Produto ID', class: 'form-label' %>
      <%= form.text_field :produto_id, class: 'form-control' %>
    </div>

    <div class="col-2 pt-2">
      <%= form.label :quantidade, class: 'form-label' %>
      <%= form.number_field :quantidade, class: 'form-control' %>
    </div>

    <div class="col-2 pt-2">
      <%= form.label :preco_unitario, class: 'form-label' %>
      <%= form.text_field :preco_unitario, class: 'form-control' %>
    </div>

    <div class="col-2 pt-2">
      <%= form.label :subtotal, class: 'form-label' %>
      <%= form.text_field :subtotal, class: 'form-control' %>
    </div>

    <div class="col-8 pt-2">
      <%= form.label :observacoes, class: 'form-label' %>
      <%= form.text_field :observacoes, class: 'form-control' %>
    </div>
    
    <div class="col-6 pt-2">
      <%= form.submit "#{ request.path == new_item_path ? 'Criar' : 'Salvar' }", class: "btn btn-primary w-100" %>
    </div>
    <div class="col-6 pt-2">
      <%= link_to "Cancelar", itens_path, class: "btn btn-danger w-100" %>
    </div>
  </div>
<% end %>
