<div id="<%= dom_id item %>">
  <p>
    <strong>Pedido:</strong>
    <%= item.pedido_id %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= item.produto_id %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= item.quantidade %>
  </p>

  <p>
    <strong>Preco unitario:</strong>
    <%= item.preco_unitario %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= item.subtotal %>
  </p>

  <p>
    <strong>Observacoes:</strong>
    <%= item.observacoes %>
  </p>

</div>
