<div class="nested-fields">
  <div>
      <%= form.label :nome, style: "display: block" %>
      <%= form.text_field :nome %>
    </div>

    <div>
      <%= form.label :descricao, style: "display: block" %>
      <%= form.text_area :descricao %>
    </div>

    <div>
      <%= form.label :preco, style: "display: block" %>
      <%= form.text_field :preco %>
    </div>

    <div>
      <%= form.label :estoque, style: "display: block" %>
      <%= form.number_field :estoque %>
    </div>

    <div>
      <%= form.label :categoria, style: "display: block" %>
      <%= form.text_field :categoria %>
    </div>
</div>