<div class="container fs-5" style="padding-top: 60px;padding-right: 60px;">
  <%= form_with(model: comanda) do |form| %>
    <div class="row ps-0">
      <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 pt-3">
          <%= form.label :nome, "Nome", autofocus: true, class: "form-label" %>
          <%= form.text_field :nome, autofocus: true, class: "form-control #{"is-invalid" if @comanda.errors[:nome].any?}" %>
          <% if @comanda.errors[:nome].any? %>
            <span class="text-danger fs-6">
              <%= @comanda.errors[:nome].join(",") %>
            </span>
          <% end %>
      </div>

      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 pt-3">
        <%= form.label :numero, "Número", class: "form-label" %>
        <%= form.number_field :numero, class: "form-control #{"is-invalid" if @comanda.errors[:numero].any?}" %>
        <% if @comanda.errors[:numero].any? %>
          <span class="text-danger fs-6">
            <%= @comanda.errors[:numero].join(",") %>
          </span>
        <% end %>
      </div>
      
      <div class="col-12">
        <%= form.label :status, "Status", class: 'form-label' %>
        <%= form.text_field :status, class: 'form-control' %>
      </div>
      <div class="col-6 pt-3">
        <%= form.submit "Cadastrar", class: "btn btn-primary w-100" %>
      </div>

      <div class="col-6 pt-3">
        <%= link_to "Cancelar", comandas_path, class: "btn btn-danger w-100" %>
      </div>
    </div>
  <% end %>
</div>