<div class="container-fluid">

<h1 class="display-5 mb-5">Comandas</h1>


<%= search_form_for @q, url: comandas_path, method: :get, remote: true do |f| %>
<div class="row d-flex justify-content-center ps-md-5 ps-lg-5 pe-md-5 pe-lg-5 ms-md-5 ms-lg-5 me-md-5 me-lg-5">
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 field">
    <%= f.number_field :numero_gteq, placeholder: "N°", class: "form-control" %>
  </div>
  <div class="col-8 col-sm-8 col-md-6 col-lg-6 field">
    <%= f.text_field :nome_cont, id: "nome_cont", placeholder: "Nome", class: "form-control" %>
  </div>
  <div class="col-12 col-sm-12 col-md-2 col-lg-2 actions">
    <%= f.submit "Buscar", class: "btn btn-primary w-100 mt-2 mt-sm-2 mt-md-0 mt-lg-0 mt-xl-0" %>
  </div>
</div>
<% end %>

<div id="comandas" class="row pt-5">  
  <% @comandas.each do |comanda| %>
    <div class="col-sm-6 col-md-3 col-xl-2">
      <%= link_to comanda, class: "nav-link" do %>
        <div class="card mb-3 text-white <%= status_comanda(comanda.status) %>" style="height: 150px;">
          <div class="card-body">
            
            <% unless comanda.nome.eql?("") %>
              <h5 class="card-title text-center fs-4" style="padding-top: 10px; padding-bottom: 20px;">N° <%= comanda.numero %></h5>
            <% else %>
              <h5 class="card-title text-center fs-4" style="padding-top: 10px; padding-bottom: 40px;">N° <%= comanda.numero %></h5>
            <% end %>
            
            <h6 class="card-subtitle mb-2 text-white text-center fs-5">
              <%= comanda.nome %>
            </h6>

            <h6 class="card-subtitle mb-2 text-center">
              <span class="badge bg-white text-body-secondary fs-6">
                <%= comanda.status %>
              </span>
            </h6>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= render "partials/btn_floating", link: new_comanda_path, formato: "square", texto: "Nova comanda", cor: "primary" %>

<p style="color: green"><%= notice %></p>
</div>