<% # app/views/comandas/show.html.erb %> 
<div class="row">
  <div class="col-10">  
    <h1 class="display-5">
      <%= link_to comandas_path, class: "nav-link" do %>
        <i class="bi bi-caret-left fs-1"></i>
        Comanda N° <%= @comanda.numero %>
      <% end %>
      <span class="ms-5 badge fs-6 <%= status_comanda(@comanda.status) %>">
        <%= @comanda.status %>
      </span>
      <% unless @comanda.nome.eql?("") %>
      <span class="ms-5 fs-6 badge bg-primary">
        <%= @comanda.nome %>
      </span>
      <% end %>
    </h1>
  </div>
  <div class="col text-end">
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
          <%= link_to "", edit_comanda_path(@comanda), class: "btn btn-warning mt-2 fs-5 bi bi-pencil" %>
        </li>
        <li class="list-inline-item">
          <%= button_to "", @comanda, method: :delete, class: "btn btn-danger  mt-2 fs-5 bi bi-trash" %>
        </li>
      </ul>
  </div>
</div>
<div class="row pt-3">
  <hr>
  
  <div class="col-10 pt-4">
    <% if @comanda.pedidos.empty? %>
      <p class="pb-3 text-center">  Não tem pedidos.</p>
    <% else %>
      <% @comanda.pedidos.each do |pedido| %>
        <% unless pedido.finalizado %>
          <%= render "pedidos/pedido", pedido: pedido %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <hr>

  <div class="col-2 pt-4">
    <label class="form-label">TOTAL</label>    
    <div class="input-group">
      <span class="input-group-text">R$</span>
      <input class="form-control" type="text" aria-label="" value="<%= @comanda.total %>" disabled readonly>
    </div>
  </div>

  
</div>

<div class="row pt-4">
    
</div>

<%= link_to new_pedido_path(comanda_id: @comanda.id), class: "btn btn-primary floating-btn-square fs-5" do %>
  Adicionar pedido
  <i class="bi bi-plus"></i>
<% end %>


<p style="color: green"><%= notice %></p>