<% # app/views/comandas/show.html.erb %> 
<div class="row">
  <div class="col-10">  
    <h1 class="display-5">
      <%= link_to comandas_path, class: "nav-link" do %>
        <i class="bi bi-caret-left fs-1"></i>
        Comanda N° <%= @comanda.numero %> | # <%= @comanda.id %>
      <% end %>
      <span class="ms-5 badge fs-6 <%= status_comanda(@comanda.status) %>">
        <%= @comanda.status %>
      </span>
      <% unless @comanda.nome.eql?("") %>
      <span class="ms-5 fs-6 badge bg-primary">
        <%= @comanda.nome %>
      </span>
      <% end %>
    </h1>
  </div>
  <div class="col text-end">
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
          <%= link_to "", edit_comanda_path(@comanda), class: "btn btn-warning mt-2 fs-5 bi bi-pencil" %>
        </li>
        <li class="list-inline-item">
          <%= button_to "", @comanda, method: :delete, class: "btn btn-danger  mt-2 fs-5 bi bi-trash" %>
        </li>
      </ul>
  </div>
</div>
<div class="row pt-3">
  <hr>
  
  <div class="col-10 pt-4">
    <h2>Produtos:</h2>
    <table class="table table-striped" id="tabela-produtos">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @itens_por_produto.each do |produto, itens| %>
          <% quantidade_total = itens.sum(&:quantidade) %>
          <% preco_total = itens.sum { |item| item.quantidade * item.preco_unitario } %>
          <tr>
            <td><%= produto.nome %></td>
            <td><%= quantidade_total %></td>
            <td><%= number_to_currency(preco_total, unit: "", separator: ",", delimiter: ".") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <hr>

  <div class="col-2 pt-4">
    <label class="form-label">TOTAL</label>    
    <div class="input-group">
      <span class="input-group-text">R$</span>
      <input class="form-control" type="text" aria-label="" value="<%= @comanda.total %>" disabled readonly>
    </div>
  </div>
</div>

<div class="row pt-4">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Método pagamento</th>
            <th>Valor</th>
            <th>Troco</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @comanda.pagamentos.each do |pagamento| %>
            <tr>
              <td><%= pagamento.metodo_pagamento %></td>
              <td><%= pagamento.valor_total_pago %></td>
              <td><%= pagamento.troco %></td>
              <td><%= pagamento.data.strftime("%d/%m/%y") %></td>
              <td><%= pagamento.hora.strftime("%H:%M") %></td>
              <td>
                <div class="row">
                  <div class="col d-flex justify-content-center">
                    <%= link_to edit_pagamento_path(pagamento), class: "nav-link me-1" do %>
                      <i class="bi bi-pencil btn btn-warning"></i>
                    <% end %>
                    <%= button_to pagamento, method: :delete, class: "nav-link ms-1" do %>
                      <i class="bi bi-trash btn btn-danger"></i>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>          
      </table>
    </div>
    <div class="col">
      <% #= render "pagamento_itens_fields", item: Item.new %>
      <% #= render "pagamentos/form", pagamento: Pagamento.new, comanda_id: @comanda.id, id: "pagamento-form" %>
      <% #= link_to "Adicionar pagamento", new_pagamento_path(itens_por_produto: @itens_por_produto), class: "btn btn-primary" %>
      <% #= link_to "Adicionar pagamento", new_pagamento_path(itens_por_produto: @itens_por_produto.map { |item, quantidade| [item.produto_id, quantidade] }.to_json), class: "btn btn-primary" %>
      <%= link_to "Adicionar pagamento", new_pagamento_path(itens_por_produto: @itens_por_produto_json, comanda_id: @comanda.id), class: "btn btn-primary" %>

    </div>
</div>

<%= link_to new_pedido_path(comanda_id: @comanda.id), class: "btn btn-primary floating-btn-square fs-5" do %>
  Adicionar pedido
  <i class="bi bi-plus"></i>
<% end %>