<div id="<%= dom_id movimentacao_estoque %>">
  <p>
    <strong>Produto:</strong>
    <%= movimentacao_estoque.produto_id %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= movimentacao_estoque.quantidade %>
  </p>

  <p>
    <strong>Motivo:</strong>
    <%= movimentacao_estoque.motivo %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= movimentacao_estoque.observacao %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= movimentacao_estoque.data %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= movimentacao_estoque.hora %>
  </p>

</div>
