<!-- app/views/pedidos/_form.html.erb -->
<div class="container">
  <%= form_with(model: @pedido, local: true) do |f| %>
    <div class="row">
      <% if @pedido.comanda_id.nil? %>
        <div class="col-12 p-2">
          <%= f.label :numero_comanda, "N° Comanda", class: "form-label" %>
          <%= f.text_field :numero_comanda, class: "form-control", style: "width: 80px" %>     
        </div>
      <% else %>
        <div class="col-12 p-2">
          <%= f.label :numero_comanda, "N° Comanda", class: "form-label" %>
          <%= f.text_field :numero_comanda, class: "form-control", style: "width: 80px", value: "#{@pedido.comanda.numero}", disableb: true, readonly: true %>     
        </div>
      <% end %>
      <div class="col-12 p-2">
        <h3>Itens</h3>
      </div>
      <div class="col-9 p-2">
        <div id="itens">
          <%= f.fields_for :itens do |item| %>
            <%= render "item_fields", f: item %>
          <% end %>
        </div>
        <div class="links">
          <%= link_to_add_association f, :itens, class: "btn btn-primary" do %>
            Add
            <i class="bi bi-plus"></i>
          <% end %>
        </div>
      </div>
      <div class="col-10 p-2">
        <%= f.label :total, "Total", class: "form-label" %>
        <div class="input-group w-50">
          <span class="input-group-text" id="basic-addon1">R$</span>
          <%= f.number_field :total, value: 0, step: 0.01, class: "form-control total-pedido" %>
        </div>
      </div>
      <div class="col-2 p-2">
        <%= f.label :finalizado, "Finalizado", class: "form-label" %>
        <%= f.check_box :finalizado, class: "form-check-input" %>
      </div>
      <div class="col-6 p-2 d-flex justify-content-center">
        <%= f.submit "#{request.path == new_pedido_path ? "Criar" : "Salvar"}", class: "btn btn-outline-dark m-2 w-100" %>
      </div>
    </div>
  <% end %>
</div>
