<%= form_with(model: pedido) do |form| %>
  <% if pedido.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
        <% pedido.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :comanda_id, style: "display: block" %>
    <%= form.text_field :comanda_id %>
  </div>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.date_field :data %>
  </div>

  <div>
    <%= form.label :hora, style: "display: block" %>
    <%= form.time_field :hora %>
  </div>

  <div>
    <%= form.label :observacoes, style: "display: block" %>
    <%= form.text_field :observacoes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
