<ul class="list-group list-group-horizontal mb-3 d-flex justify-content-center mt-5">
  <li class="list-group-item <%= 'active' if params[:intervalo] == 'hoje' %>">
    <%= link_to 'Hoje', dashboard_path(intervalo: 'hoje'), class: 'nav-link' %>
  </li>
  <li class="list-group-item <%= 'active' if params[:intervalo] == 'semanal' %>">
    <%= link_to 'Semanal', dashboard_path(intervalo: 'semanal'), class: 'nav-link' %>
  </li>
  <li class="list-group-item <%= 'active' if params[:intervalo] == 'mensal' %>">
    <%= link_to 'Mensal', dashboard_path(intervalo: 'mensal'), class: 'nav-link' %>
  </li>
  <li class="list-group-item <%= 'active' if params[:intervalo] == 'anual' %>">
    <%= link_to 'Anual', dashboard_path(intervalo: 'anual'), class: 'nav-link' %>
  </li>
</ul>

<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col" class="text-start">Produto</th>
      <th scope="col">Estoque Disponível</th>
      <th scope="col">Saída</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <% total_reais = 0 %>
    <% @itens_por_produto.each do |item| %>
      <% produto = Produto.find(item.produto_id) %>
      <tr>
        <td class="text-start"><%= produto.nome %></td>
        
        <td><%= @estoques_por_produto[item.produto_id] %></td>
        
        <!--<td><%#= DateTime.parse(item.data).strftime("%d/%m/%Y %H:%M") %></td>-->

        <td><%= item.quantidade_total %></td>

        <td>R$ <%= valor_com_duas_casas(item.total_reais) %></td>
        <% total_reais += item.total_reais %>
      </tr>
    <% end %>
    <tr>
      <th colspan="4"></th>
    </tr>
    <tr>
      <th colspan="3" class="text-start">Total</th>
      <td>R$ <%= valor_com_duas_casas(total_reais) %></td>
    </tr>
  </tbody>
</table>
