<div class="container fs-5" style="padding-top: 60px;padding-right: 60px;">
  <%= form_with(model: produto) do |form| %>
    <% if produto.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

        <ul>
          <% produto.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row nested-fields">
      <div class="col-6 pt-4 field">
        <%= form.label :nome, class: "form-label" %>
        <%= form.text_field :nome, class: "form-control" %>
      </div>

      <div class="col-6 pt-4 field">
        <%= form.label :descricao, class: "form-label" %>
        <%= form.text_field :descricao, class: "form-control" %>
      </div>

      <!--
      <div class="col-4 pt-4 field">
        <%= form.label :categoria, class: "form-label" %>
        <%= form.text_field :categoria, class: "form-control" %>
      </div>
      -->
      <div class="col-4 pt-4 field">
        <%= form.label :preco, "Preço", class: "form-label" %>
        <%= form.number_field :preco, step: 0.01, class: "form-control" %>
      </div>

      <div class="col-4 pt-4 field">
        <%= form.label :estoque, class: "form-label" %>
        <%= form.number_field :estoque, class: "form-control" %>
      </div>

      <div class="col-4 pt-4 field">
        <%= form.label :categoria, class: "form-label" %>
        <%= form.select :categoria,  Produto.pluck(:categoria).uniq.compact, {}, class: "form-control" %>
      </div>

      <div class="col-12 pt-4 field">
        <label class="form-label">Ícones</label>
        <div class="row">
          <% mostrar_icones.each_slice(1) do |row_icones| %>
            <div class="col">
              <% row_icones.each do |icone| %>
                <div class="form-check form-check-inline">
                  <%= form.radio_button :icone, icone[0], class: "form-check-input", id: icone[0] %>
                  <%= form.label icone[0], class: "form-check-label" do %>
                    <%= content_tag(:i, "", class: "fas #{icone[0]}") %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      
      <div class="col-6  pt-5 mt-2 d-flex justify-content-center">
        <%= form.submit "#{ request.path == new_produto_path ? 'Criar' : 'Salvar' }", class: "btn btn-primary w-75" %>
      </div>

      <div class="col-6   pt-5 mt-2 d-flex justify-content-center">
        <%= link_to "Cancelar", produtos_path, class: "btn btn-danger w-75 " %>
      </div>
    </div>
  <% end %>

</div>