<div class="card" style="width: 15rem; height: 500px;">
    <div class="card-header text-center" style="padding: 60px;">
        <i class="<%= produto.icone %>" style="font-size: 5rem;"></i>
    </div>
    <div class="card-body text-center">
        <p class="card-text text-center">
        <span class="badge bg-primary w-75 fs-6">
            <%= produto.categoria %>
        </span>
        </p>

        <p class="fs-6">
        <span class="card-title">
            <%= produto.nome %>
        </span>

        <span class="card-subtitle mb-2 text-muted">
            <%= produto.descricao %>
        </span>
        </p>
        <hr>
        <p class="card-text text-success fs-5">
            R$ <%= number_with_precision(produto.preco, precision: 2) %>
        </p>
        <p class="text-secondary">
            Estoque: <%= produto.estoque %>
        </p>

        <div class="row">
            <div class="col d-flex justify-content-center ">
                <%= link_to "", edit_produto_path(produto), class: "btn btn-warning mt-2 fs-5 bi bi-pencil me-1" %>
                <%= button_to "", produto, method: :delete, class: "btn btn-danger  mt-2 fs-5 bi bi-trash ms-1" %>
            </div>
        </div>
    </div>
</div>