<table class="table table-striped text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-start">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Estoque</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <% produtos.each do |produto| %>
            <tr>
                <td>
                    <%= produto.id %>
                </td>
                <td class="text-start">
                    <%= produto.nome %>
                </td>
                <td>R$ <%= produto.preco %>
                </td>
                <td>
                    <%= produto.estoque %>
                </td>
                <td>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                        <%= link_to edit_produto_path(produto), class: "nav-link me-1" do %>
                            <i class="bi bi-pencil btn btn-warning"></i>
                        <% end %>
                        <%= button_to produto, method: :delete, class: "nav-link ms-1" do %>
                               <i class="bi bi-trash btn btn-danger"></i>
                        <% end %>
                    </div>
                </div>
            </td>
        <% end %>
    </tbody>
</table>