<div id="<%= dom_id pagamento %>">
  <p>
    <strong>Comanda:</strong>
    <%= pagamento.comanda_id %>
  </p>

  <p>
    <strong>Metodo pagamento:</strong>
    <%= pagamento.metodo_pagamento %>
  </p>

  <p>
    <strong>Valor total pago:</strong>
    <%= pagamento.valor_total_pago %>
  </p>

  <p>
    <strong>Troco:</strong>
    <%= pagamento.troco %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= pagamento.data %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= pagamento.hora %>
  </p>

</div>
