<!DOCTYPE html>
<html>
  <head>
    <title>SistemaDeComandas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/4bad48d913.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag 'https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js' %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render "partials/navbar" %>

    <div class="container-fluid p-5">
      <%= yield %>
    </div>

  </body>
</html>
